@tailwind base;
@tailwind components;
@tailwind utilities;





.dots {
    background-image: url("./../../public/dot_red.svg"), url("./../../public/dot_red.svg"), url("./../../public/triangle_right.svg"), url("./../../public/triangle_left.svg");
    background-size: 20rem;
    background-position: -8% 115%, 108% 115%, 108% -15%, -8% -15%;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
}


@media (max-width: 700px) {
    .dots {
        background-size: 4rem;
        background-position: -2% 105%, 102% 105%, 102% -5%, -2% -5%;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}